<header></header> <!-- need to fill in ass or concept name here-->
<course-card>
    <!-- within here fill in issue names, num tickets under it--> 
    <button>View</button> <!-- link to issue.component page -->
</course-card> <!-- talked with simon and dan and for now will reuse look from last one so same widget-->


<!-- example code for filling in a widget below
 <course-card-component>
@for (sectionId of selectedSections(); track sectionId) { @if
    (sectionForId(sectionId)) {
    <mat-chip-row (removed)="remove(sectionForId(sectionId)!)">
      {{ sectionForId(sectionId)!.subject_code }}  
       
      we need to check if it is an assignment or concept and add it 
       accordingly to the correct column
       
       
      {{ sectionForId(sectionId)!.course_number }}-{{
        sectionForId(sectionId)!.section_number
      }}
      <label matChipRemove>
    </course-card-component>-->
