<div class="container">
<!-- <div class="left-column"> -->
<!-- <div class="queue-pane"> -->
@for (item of tickets(); track item){
  <div class="ticket">
      <app-ticket-widget 
        [ticket]="item"
        [type]="typeMap[item.type]"
        [description]="item.description"
        [id]="item.office_hours_id"
        [closed]="item.closed_at"
        [have_concerns]="item.have_concerns"
        [caller_notes]="item.caller_notes">
      </app-ticket-widget>
    </div>
}
</div>
<!-- </div> -->
<!-- </div> -->