.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
  }

  .view-button {
    background-color: #4B0082;
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 15px;
  }