/* Base container: lays out assignments and concepts side by side */
.container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columns */
  gap: 1rem;
  margin: 2rem auto 0 auto;
  transform: translateX(40px);
  color: black;
}

.view-button {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  background-color: #4B0082;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.view-button:hover {
  background-color: #4c0082e5;
}

.grid-item {
  width: 500px;
  height: 75px;
  position: relative;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}

.ticket-count {
  position: absolute;
  top: .8rem;
  right: 0.6rem;
  background-color: #4c0082e5;
  color: white;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  font-weight: bold;
  font-size: 0.7rem;
}
