<div class="container">
  <div class="left-column">
    <h4 class="header">Assignments</h4>
    <div class="grid">
  @for (item of assnConcepts().assignments; track item){
    <div class="grid-item">
      <span class="ticket-count">{{ length() }}</span>
      <h3>{{ item.name }}</h3>
      <button class="view-button" (click)="navigateToIssues()">View</button>
    </div>    
  }
</div>
</div>
   
<div class="right-column">
  <h4 class="header"> Concepts</h4>
  <div class="grid">
  @for (item of assnConcepts().concepts; track item){
    <div class="grid-item">
      <span class="ticket-count">{{ length() }}</span>
      <h3>{{ item.name }}</h3>
      <button class="view-button" (click)="navigateToIssues()">View</button>
    </div>    
}
</div>
</div>
</div>

