<div class="container">
  <div class="left-column">
    <h4 class="header">Assignments</h4>
    <div class="grid">
      @for (item of assnConcepts().assignments; track item) {
        <app-assignment-card
          [name]="item.name"
          [assignmentID]="item.id"
          [numTickets]="item.num_tickets"
          (viewClicked)="navigateToIssues($event)">
        </app-assignment-card>
      }
    </div>
  </div>

  <div class="right-column">
    <h4 class="header">Concepts</h4>
    <div class="grid">
      @for (item of assnConcepts().concepts; track item) {
        <app-assignment-card
          [name]="item.name"
          [assignmentID]="item.id"
          [numTickets]="item.num_tickets"
          (viewClicked)="navigateToIssues($event)">
        </app-assignment-card>
      }
    </div>
  </div>
</div>
